beautifulsoup4==4.6.0
certifi==2022.12.7
chardet==3.0.4
hiredis==0.2.0
idna==2.6
redis==2.10.6
-e git+https://github.com/yuvadm/redisearch-py@efd76586fb368f656fe2a9cc7241afe774884f0f#egg=redisearch
requests==2.18.4
rmtest==0.6.8
urllib3==1.22
wikipedia==1.4.0
